:root {
    font-family: Arial, "Raleway";
    font-weight: 500;
    font-size: 1rem;
  
    --green: #0E5236;
    --light-green: #D8EBCF;
    --dark-green: #043936;
    color: var(--dark-green);
    overflow-x: hidden;

  }
  * {
    margin: 0;
    padding: 0;
  }

header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px ;
}

#imagem-header img{
    width: 100%;
    height: 40vh;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
 
}

main{
    margin: 40vh 50px 30px 50px;
}



h1{
    color: white;
    margin-top: 10px;
    font-size: 35px;
}

#titulo img{
    width: 130px;
    margin-bottom: 10px;
}


#titulo {
    font-size: 13px;
    position: absolute;
    top: 50px;
    padding-left: 30px;
    margin: 0px 30px;
}

h4{
    font-size: 20px;
    margin-bottom: 20px;
}

#titulo h3{
    color: #F2C36B;
    font-size: 12px ;
    letter-spacing: 3px;
}

#main-text p{
    font-size: 15px;
    margin: 10px 0;
}


#about-person img{
    width: 15vw;
    border-radius: 50%;
    margin: 10px;
}

#about-person{
    display: flex;
    align-items: center;
    margin: 5px;
}

#about-person h3{
    font-size: 10px;
}
#about-person p{
    letter-spacing: 4px;
    font-size: 7px;
}

#clinic-info{
    background-color: var(--dark-green) ;
    color: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content:left
    ;
    gap:40px;
}

#clinic-info h2{
    font-size: 15px;
}

#clinic-info p{
    font-size: 7px;
}

#clinic-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 80%;
}

@media screen and (min-width: 1500px) {

    #titulo h3{
        color: #F2C36B;
        font-size: 20px ;
        letter-spacing: 3px;
    }
      #about-person img{
        width: 10vw;
    }

    footer img{
        width: 50%;
    }
  

}


@media screen and (max-height: 700px) {
    #imagem-header img{
        height: 50vh;
    }
    main{
        margin-top: 50vh;
    }
 }
  


@media screen and (max-height: 490px) {
    #imagem-header img{
        height: 60vh;
    }
    main{
        margin-top: 70vh;
    }
 }
  




