:root {
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  --green: #0E5236;
  --light-green: #D8EBCF;
  --dark-green: #043936;
}
* {
  margin:0;
  padding: 0;
  color: var(--dark-green);
}
b{
  
}
body{
  padding: 0 20px;
  margin-top: 50px;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.titulo h1{
  font-size: 3rem;
  font-weight: 800;
}
.titulo h2{
  font-size: 2.5rem;
  font-weight: 400;
  margin: -10px 0 10px 0;
}
.titulo p{
  font-weight: 400;
}
.imagem-cabecalho{}

.introducao{
  margin: 30px 0;
}
.introducao h4{
  margin-bottom: 10px ;
}

.formas-de-pagamento{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formas-de-pagamento h4{
  font-size: 1.0rem;
  margin-bottom: 10px;
}
.banco{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.imagem-banco{
  margin: 40px 0;
}
.banco-subtitulo{
  text-align: center;
}
.banco-botao-cpnj{
  margin: 20px 120px;
  padding: 10px 20px;
background-color: var(--light-green);
  border-radius: 10px;
}



.botao-green{
  color: #ffff;
  padding: 15px 40px;
  background-color: var(--green);
  text-decoration: none;
  border-radius: 30px;
}

.acesse-nosso-site{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.acesse-nosso-site p{
  font-weight: 600;
  border: 1px solid var(--light-green);
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  
}

.acesse-nosso-site a{
  font-size: 1.2rem;
  margin-top: -15px;
  margin-bottom: 20px;
}

.contatos{
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.contatos div .botao-green{
  
}
.contatos-ramal{
  display: flex;
  align-items: center;
}
.contatos-ramal-ramais{
  display: flex;
  flex-flow: column;
  border: 1px solid var(--green);
  padding: 4.5px 20px;
  padding-left: 55px;
  border-radius: 30px;
  margin-left: -50px;
}