:root {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;

  --green: #0E5236;
  --light-green: #D8EBCF;
  --dark-green: #043936;
}
* {
  margin: 0;
  padding: 0;
  color: var(--dark-green);
}
b {
  
}
.background-image {
  background-image: url(./assets/background-line.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

body {
  padding: 0 1.25rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  padding-top: 3.125rem;
  font-family: "Raleway", sans-serif;
}
.titulo h1 {
  font-size: 3rem;
  font-weight: 800;
}
.titulo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: -0.625rem 0 0.625rem 0;
}
.titulo p {
  font-weight: 400;
  padding-top: 0.8rem;
}


.introducao {
  margin: 1.875rem 0;
}
.introducao h4 {
  margin-bottom: 0.625rem;
}
.introducao p {
  font-size: 0.9rem;
}

.formas-de-pagamento {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.formas-de-pagamento h4 {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}
.banco {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.imagem-banco {
  margin: 2.5rem 0;
}
.banco-subtitulo {
  text-align: center;
  

}

.banco-botao-cnpj {
  margin: 1.25rem 6rem;
  padding: 0.625rem 1rem;
  background-color: var(--light-green);
  border-radius: 0.625rem;
}

.botao-green {
  color: #ffff;
  padding: 0.9375rem 2.5rem;
  background-color: var(--green);
  text-decoration: none;
  border-radius: 1.875rem;
}

.acesse-nosso-site {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1.875rem;
}

.acesse-nosso-site p {
  font-weight: 600;
  border: 1px solid var(--light-green);
  padding: 1.25rem;
  padding-bottom: 1.875rem;
  border-radius: 0.625rem;

}

.acesse-nosso-site a {
  font-size: 1.2rem;
  margin-top: -0.9375rem;
  margin-bottom: 1.25rem;
}

.contatos {
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}

.contatos div .botao-green {
  
}

.contatos-ramal {
  display: flex;
  align-items: center;
}

.contatos-ramal-ramais {
  display: flex;
  flex-flow: column;
  border: 1px solid var(--green);
  padding: 0.65rem 1.25rem;
  padding-left: 3.4375rem;
  border-radius: 1.875rem;
  margin-left: -3.125rem;
}
.contatos-ramal-ramais b{
  font-size: 0.7rem;
}

#ramais{
  font-size: 0.7rem;
}

.contatos-TBM {
  display: flex;
  align-items: center;
}

.contatos-telefone-whatsapp {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid var(--green);
  padding: 0.65rem 1.25rem;
  padding-left: 3.4375rem;
  border-radius: 1.875rem;
  margin-left: -3.125rem;
  font-size: 0.7rem;

  @media (max-width: 487px ){
    font-size: 0.7rem ;
  }
}
footer{
  position: absolute;
  left: 0;
  right: 0;
}
