:root {
    font-family: Arial, "Raleway";
    font-weight: 500;
    font-size: 1rem;
  
    --green: #0E5236;
    --light-green: #D8EBCF;
    --dark-green: #043936;
}

* {
    margin: 0;
    padding: 0;
    color: var(--dark-green);
}
.link{
    color: var(--dark-green);
    background-color: #FFD16C;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 50px;
}
.finalizacao a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;

}
.finalizacao p{
    margin-top: 60px;
    font-size: 18px;

}
body {
    margin-top: 300px;
}

.header-image {
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

.logo-verde{
    width: 170px;
    position: absolute;
    right: 25px;
    top: 100px;
}

main {
    padding: 50px;
    padding-bottom: 50px;
}

.paragrafos {
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 30px;
}

.paragrafos p {
    padding-top: 20px;
    font-size: 18px;
}



footer {
    background-color: var(--dark-green);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    height: 70px;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;

}

.fa-linkedin-in,
.fa-instagram,
.fa-square-facebook,
.fa-youtube {
    font-size: 24px;
    color: white;
    padding: 10px;
}

.site {
    display: flex;
    align-items: center;
    justify-content: right;

}

.site a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.white-icon{
    width: 35px;
}
.img-web{
    width: 20px;
}


@media (min-width: 750px){
    body {
        margin-top: 300px;
    }
}

@media (min-width: 1110px){
    body {
        margin-top: 350px;
    }
}

@media (min-width: 1200px){
    body {
        margin-top: 500px;
    }
}

@media (max-width: 480px){
    .finalizacao a{
        word-break: keep-all;

    }
}


