:root {
    font-family: Arial, "Raleway";
    font-weight: 500;
    font-size: 1rem;
  
    --green: #0E5236;
    --light-green: #D8EBCF;
    --dark-green: #043936;
    color: var(--dark-green);
  
  }
  * {
    margin: 0;
    padding: 0;
  }

html, body{
    overflow-x: hidden;
}
body{
    position: relative
}
.header-logo{
    background-color: #043936;
    display: flex;
    justify-content: center;
}
.header-logo img{
    width: 700px;
}

.header-header{
    background-image: url("https://i.postimg.cc/DfrXkSgK/Design-sem-nome.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 738px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;


}

.header-textos{
    width: 60%;
    margin-left: 30px;
    padding-bottom: 30px;

}
.header-textos h1{
    color: white;
    margin-top: 15px;
}

.header-textos p{
    background-color: #F2BA52;
    display: inline;
    font-size: 9px;
    padding: 3px;
    border-radius: 5%;
    letter-spacing: 2px;
}

main{
    margin: 60px;
}

h2{
    font-size: 30px;
}

.paragrafos-principais p{
    font-size: 17px;
    margin-top: 45px
}

.cards{
    margin-top: 60px;
}

.card-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.cards-p{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.cards-p img{
    width: 15px;
    height: 15px;
}
.cards-p p{
    margin-left: 10px;
}


.exames{
    margin-top: 60px;
}
.tipos-exames{
    margin-top: 30px;
}
.exame{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.exame p{
    margin-left: 15px;
}
.exame img{
    width: 15px;
    height: 15px;
}

.paragrafo-exames{
    margin-top: 50px;
}

button{
    background-color: #F2BA52;
    border: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px ;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #043936;
}

.contato-acessoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contato-acessoria p{
    text-align: left;
}

.footer-img{
    width: 100%;
}

.parceria{

    display: flex;
    justify-content: space-between;
    margin: 40px;
    align-items:last baseline;
    }

.texto{
    width: 40%;
}
.texto p{
    color: white;
    margin-top: 20px;
}

.parceria h2{
    color: #F2BA52;
}

.textos-contato-parceria{
    color: white; 
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: ce;

}
.textos-contato-parceria p{
    padding-left: 10px;
}

.white-rectangle{

    width: 200px;
}
.ensino-pesquisa{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-right: 60px;
    padding-bottom: 170px;

}
.texto-ensino{
    width: 60%;
}
.texto-ensino p{
    margin-top: 15px;
}
.img-qrcode{
    margin-left: 150px;
}
.ensino-pesquisa h2{
    color: #F2BA52;
}

.img-qrcode{
    width: 100px;
}
.contatos-footer{
    position: absolute;
    top: 1650px;
}


footer{
    background-image: url("https://accamargo.org.br/sites/default/files/2025/03/rodape.png");
    height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

@media(min-width: 1244px){
    .ensino-pesquisa{
        padding-bottom: 90px;
    
    }

}
@media(max-width: 600px){
    .parceria h2{
        font-size: 15px;
    }
    .parceria img{
        width: 20px;
    }
    .parceria p{
        font-size: 12px;
    }
    .ensino-pesquisa h2{
        font-size: 15px;

    }
    .ensino-pesquisa p{
        font-size: 12px;

    }
    .header-textos h1{
        font-size: 25px;
    }
   
    .img-card{
        width: 90px ;
    }
    .cards h3{
        font-size: 15px;
    }
}





